@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nteymz');
  src:  url('fonts/icomoon.eot?nteymz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nteymz') format('truetype'),
    url('fonts/icomoon.woff?nteymz') format('woff'),
    url('fonts/icomoon.svg?nteymz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e914";
}
.icon-sunrise:before {
  content: "\e912";
}
.icon-sunset:before {
  content: "\e913";
}
.icon-01d:before {
  content: "\e900";
}
.icon-01n:before {
  content: "\e901";
}
.icon-02d:before {
  content: "\e902";
}
.icon-02n:before {
  content: "\e903";
}
.icon-03d:before {
  content: "\e904";
}
.icon-03n:before {
  content: "\e905";
}
.icon-04d:before {
  content: "\e906";
}
.icon-04n:before {
  content: "\e907";
}
.icon-09d:before {
  content: "\e908";
}
.icon-09n:before {
  content: "\e909";
}
.icon-10d:before {
  content: "\e90a";
}
.icon-10n:before {
  content: "\e90b";
}
.icon-11d:before {
  content: "\e90c";
}
.icon-11n:before {
  content: "\e90d";
}
.icon-13d:before {
  content: "\e90e";
}
.icon-13n:before {
  content: "\e90f";
}
.icon-50d:before {
  content: "\e910";
}
.icon-50n:before {
  content: "\e911";
}

/*page styles*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: auto;
	margin-top: 50px;
	background-image: url(/images/bg-day.svg);
	background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
}

header {	
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: white;
	z-index: 50;
}


.bar-container {
	width: 10px;
	position: relative;
	top: -22px;
}

.form-container {
	width: 100%;
	margin-left: 50px;
	padding: 4px;
	z-index: 35;
}

.form-container form {
	width: 100%;
	margin-right: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.location-input {
	width: 95%;
	height: 35px;
	font-size: 14px;
	padding: 0 8px;
	margin-right: 60px;
	background-color: transparent;
	border: 1px solid #f7931e;
	transform: translateX(200%);
	transition: transform .3s;
	z-index: 9;
}

input[type="text"]::placeholder {
	color: #267ba5;
}

.open {
	transform: translateX(0);
}

.form-container button {
	color: #f7931e;
	position: absolute;
	right: 5px;
	width: 35px;
	height: 35px;
	background-color: white;
	margin-right: 10px;
	border: none;
	cursor: pointer;
	transition: transform 1s;
	z-index: 8;
}

.icon-plus {
	font-size: 35px;
}

.add-icon {
	color: #267ba5;
	font-family: 'icomoon';
	font-size: 35px;
	width: 35px;
	height: 35px;
	position: absolute;
	right: 5px;
	background-color: transparent;
	margin-right: 10px;
	cursor: pointer;
	z-index: 10;
}

.add-icon:before {
	content: "\e914";
}

.sidebar {
	position: fixed;
	top: 0px;
	left: -85%;
	background: white; 
	width: 85%;
	height: 100%;
	transition: .3s;
	overflow: scroll;
	z-index: 10;
}

.sidebar h3 {
	display: flex;
	justify-content: center;
	padding: 18px;
	border-bottom: 2px solid rgba(11, 17, 45,.1);
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #091f42;
}

.active {
	left: 0px;
}

ul li {
	list-style: none;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	color: #091f42;
	border-bottom: 2px dotted rgba(11, 17, 45,.2);
	cursor: pointer;
}

.list-item:hover {
	background-color: rgba(153,191,170, 0.8);
}

.list-item button {
	color: #b577a2;
	width: 30px;
	height: 30px;
	font-size: 28px;
	background: none;
	border: none;
	cursor: pointer;
}

.list-item p {
	font-size: 21px;
	letter-spacing: 1px;
	cursor: pointer;
}

.fa-map-marker {
	color: #b577a2;
	font-size: 26px;
	padding-right: 10px;
	text-shadow: 1px 2px 4px #D3D3D3;
}

.active-marker {
	color: yellow;
}

.sidebar-btn {
	position: absolute;
	top: 5px;
	right: -40px;
	width: 40px;
	height: 40px;
	padding: 0 5px;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	z-index: 10;
}

.sidebar-btn span {
	display: block;
	width: 35px;
	height: 3px;
	background-color: #267ba5;
	position: absolute;
	top: 15px;
	transition: .3s;
}

.sidebar-btn span:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #267ba5;
	transition: .3s;
}

.sidebar-btn span:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #267ba5;
	transition: .3s;
}

.sidebar-btn.toggle span {
	background: transparent;
}

.sidebar-btn.toggle span:before {
	top: 0;
	transform: rotate(45deg);
}

.sidebar-btn.toggle span:after {
	top: 0;
	transform: rotate(-45deg);
}

.sidebar-btn.mobile {
	right: 20px;
	color: white;
}


.page-wrap {
/*	margin-top: 70%; */
	padding: 20px;
}

.slide-right {
	margin-left: 100%;
}

.slide-left {
	margin-right: 100%;
}

.hidden {
	display: none;
}

main {
	width: 100%;
	overflow: hidden;
}

.city-name {
	display: flex;
	justify-content: center;
	margin-bottom: 80%;
}

.current-temp {
	margin-bottom: 50px;
}

.current-temp h1 {
	color: #5c868d;
	font-size: 100px;
	letter-spacing: 4px;
	text-shadow: 2px 2px 3px rgba(92,134,141,0.5);
}

.current-temp p {
	display: inline;
	color: #5c868d;
	font-size: 30px;
}

.current-temp p:nth-of-type(1):after {
	content: ' | ';
}

.current-weather-container {
	color: #091f42;
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
	width: 100%;
	padding: 20px;
	margin: 10px auto;
	background-color: rgba(153,191,170, 0.4);
	border-top: 1px solid #efe9bf;
}

.current-weather {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
	padding: 10px 0;
	color: white;
}

.current-weather-icon {
	color: #f7931e;
	font-size: 60px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	margin: 10px auto;
}

.current-weather h3 {
	font-size: 24px;
	letter-spacing: 2px;
	padding: 5px;
	margin: 10px auto;
}



.weather-details {
	width: 60%;
	padding: 10px 5px 10px 10px;
}

.weather-details li {	
	display: flex;
	justify-content: space-between;
	padding: 2px 0;
}

.weather-details h3 {
	font-size: 26px;
	padding: 3px 0;
}

.weather-details p {
	font-weight: bold;
	font-size: 15px;
}

.weather-details span {
	display: block;
}

.forecast-results {
	color: #091f42;
	letter-spacing: 2px;
	padding: 20px;
	margin: 15px auto;
	background-color: rgba(153,191,170, 0.6);
	border-top: 1px solid #efe9bf;

}

.forecast-results h3 {
	font-size: 26px;
}

.forecast-results ul {
	display: grid;
	align-items: center;
	grid-template-columns: 5fr 1fr 1fr;
	padding: 10px 0;
}

.forecast-results li {
	font-size: 20px;
	font-weight: 600;
}

.forecast-temp {
	text-align: right;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forecast-icon {
	font-size: 40px;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#map {
	height: 300px;
	width: 100%;
	z-index: 1;
	border: 2px solid white;
}

