@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?db6xc3');
  src:  url('fonts/icomoon.eot?db6xc3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?db6xc3') format('truetype'),
    url('fonts/icomoon.woff?db6xc3') format('woff'),
    url('fonts/icomoon.svg?db6xc3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marker:before {
  content: "\e8b5";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-thermometer:before {
  content: "\e912";
}
.icon-expand:before {
  content: "\e56b";
}
.icon-plus:before {
  content: "\e914";
}
.icon-sunrise:before {
  content: "\e915";
}
.icon-sunset:before {
  content: "\e913";
}
.icon-01d:before {
  content: "\e900";
}
.icon-01n:before {
  content: "\e901";
}
.icon-02d:before {
  content: "\e902";
}
.icon-02n:before {
  content: "\e903";
}
.icon-03d:before {
  content: "\e904";
}
.icon-03n:before {
  content: "\e905";
}
.icon-04d:before {
  content: "\e906";
}
.icon-04n:before {
  content: "\e907";
}
.icon-09d:before {
  content: "\e908";
}
.icon-09n:before {
  content: "\e909";
}
.icon-10d:before {
  content: "\e90a";
}
.icon-10n:before {
  content: "\e90b";
}
.icon-11d:before {
  content: "\e90c";
}
.icon-11n:before {
  content: "\e90d";
}
.icon-13d:before {
  content: "\e90e";
}
.icon-13n:before {
  content: "\e90f";
}
.icon-50d:before {
  content: "\e910";
}
.icon-50n:before {
  content: "\e911";
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: auto;
	margin-top: 50px;
	background-color: #E1E7C3;
	background-image: url(./images/bg-d.svg);
	background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
}

body.noScroll {
	overflow: hidden;
}

header {	
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	padding: 5px 0;
	width: 100%;
	background-color: white;
	z-index: 50;
}

.splash {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 20px;
	z-index: 120;
	color: #72001d;
	background-image: url(./images/bg-d.svg);
	background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
	opacity: .8;
}

.remove-splash {
	display: none;
}

.splash h1 {
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	margin: 0 auto;
	display: inline;
	text-align: center;
	width: 50%;
	position: absolute;
	top: 43%;
	left: 25%;
	text-shadow: 2px 2px 4px #FFF;
	z-index: 122;
}

.splash h1 span {
	font-size: 37px;
}

.splash h1 span:nth-child(2) {
	font-size: 42px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.loader {
	display: none;
	position: fixed;
	top: 35%;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 80;
}

.loading {
	display: block !important;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #74C2F7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.bar-container {
	width: 10px;
	position: relative;
	top: -22px;
}

.form-container {
	width: 100%;
	margin-left: 50px;
	padding: 4px;
	z-index: 35;
}

.form-container form {
	width: 100%;
	margin-right: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.location-input {
	width: 95%;
	height: 35px;
	font-size: 14px;
	padding: 0 8px;
	margin-right: 60px;
	background-color: #DBF1D9;
	border: none;
	border-radius: 3px;
	transform: translateX(200%);
	transition: transform .3s;
	z-index: 9;
}

input[type="text"]::placeholder {
	color: #267ba5;
}

.open {
	transform: translateX(0);
}

.form-container button {
	color: #f7931e;
	position: absolute;
	right: 5px;
	width: 35px;
	height: 35px;
	background-color: white;
	margin-right: 10px;
	border: none;
	cursor: pointer;
	transition: transform 1s;
	z-index: 8;
}

.icon-plus {
	font-size: 35px;
}

.add-icon {
	color: #267ba5;
	font-family: 'icomoon';
	font-size: 35px;
	width: 35px;
	height: 35px;
	position: absolute;
	right: 5px;
	background-color: transparent;
	margin-right: 10px;
	cursor: pointer;
	z-index: 10;
}

.add-icon:before {
	content: "\e914";
}

.sidebar {
	position: fixed;
	top: 0px;
	left: -85%;
	background: white; 
	width: 85%;
	height: 100%;
	transition: .3s;
	overflow: auto;
	z-index: 10;
}

.close-btn {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 35px;
	height: 35px;
	font-size: 25px;
	color: #267BA5;
	background-color: transparent;
	border:none;
	z-index: 50;
	cursor: pointer;
}

.close-btn:hover {
	color: #F8931E;
}

.sidebar h3 {
	display: flex;
	justify-content: center;
	padding: 18px;
	border-bottom: 2px solid rgba(11, 17, 45,.1);
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #091f42;
}

.active {
	left: 0px;
}

ul li {
	list-style: none;
}

.side-nav {
	margin-bottom: 80px;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	color: #091f42;
	border-bottom: 2px dotted rgba(11, 17, 45,.2);
	cursor: pointer;
}

.list-item:hover {
	background-color: rgba(153,191,170, 0.8);
}

.list-item button {
	color: #b577a2;
	width: 20px;
	height: 20px;
	font-size: 16px;
	background: none;
	border: none;
	cursor: pointer;
}

.list-item p {
	font-size: 21px;
	letter-spacing: 1px;
	cursor: pointer;
}

.icon-marker {
	color: #b577a2;
	font-size: 20px;
	padding-right: 10px;
	text-shadow: 1px 2px 4px #D3D3D3;
}

.active-marker {
	color: #F8931E;
}

.sidebar-btn {
	position: absolute;
	top: 5px;
	right: -40px;
	width: 40px;
	height: 40px;
	padding: 0 5px;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	z-index: 10;
}

.sidebar-btn span {
	display: block;
	width: 35px;
	height: 3px;
	background-color: #267ba5;
	position: absolute;
	top: 15px;
	transition: .3s;
}

.sidebar-btn span:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #267ba5;
	transition: .3s;
}

.sidebar-btn span:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #267ba5;
	transition: .3s;
}

.page-wrap {
	padding: 20px 10px 10px 10px;
}

.slide-right {
	margin-left: 100%;
}

.slide-left {
	margin-right: 100%;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

main {
	width: 100%;
	overflow: hidden;
}

main h3, h4 {
	font-family: 'Comfortaa', cursive;
	color: #456166;
	letter-spacing: 1px;
}

main h3 {
	font-size: 20px;
	padding-bottom: 10px;
}

.wrap-one {
	height: 93vh;
	position: relative;
}

.weather-image {
	display: flex;
	justify-content: center;
	height: 50vh;
}

.message {
	display: none;
}

.message.show {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 70;
	background-color: rgba(153,191,170,0.7);
}

.message-box {
	position: absolute;
	top: 65px;
	left: 5%;
	right: 5%;
	width: 90%;
	padding: 40px;
	background-color: #f9fdff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(38,123,165,0.41);
	-moz-box-shadow: 0px 0px 10px 0px rgba(38,123,165,0.41);
	box-shadow: 0px 0px 10px 0px rgba(38,123,165,0.41);
}

.message-box p {
	color: #5c868d;
	font-size: 18px;
	font-weight: 600;
}

.message-box span {
	position: absolute;
	top: 10%;
	right: 10px;
	color: #267ba5;
	cursor: pointer;
}

.city-results {
	font-family: 'Poiret One', cursive;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.city-name {
	font-family: 'Comfortaa', cursive;
	color: #267ba5;
	font-size: 16px;
	letter-spacing: 2px;
	margin: 0 auto 8px auto;
}

.date {
	font-family: 'Comfortaa', cursive;
	color: #5c868d;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0 auto;
}

.date p:first-child {
	font-size: 80px;
	line-height: 70px;
	font-weight: 300;
}

.date p:nth-child(2) {
	display: flex;
	justify-content: center;
	font-size: 18px;
}

.temp-results {
	width: 100%;
	position: absolute;	
	bottom: 4%;
}

.current-temp {
	font-family: 'Comfortaa', cursive;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.temp-settings {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: center;
	margin-top: auto;
}

.icon-thermometer {
	color: #d36e93;
	font-size: 60px;
	padding: 6px;
	cursor: pointer;
}

.icon-thermometer:hover {
	color: #F8931E;
}

.units {
	position: absolute;
	align-items: center;
	right: 6px;
	bottom: 65px;
}

.unit-btn {
	display: block;
	color: #7f2863;
	font-weight: 600;
	font-size: 16px;
	width: 35px;
	height: 35px;
	border-radius: 50%;	
	background-color: #e2b1d3;
	padding: 1px 0 0 3px;
	margin-bottom: 5px;
	border: none;
	box-shadow: 2px 2px 3px rgba(92,134,141,0.5);
	cursor: pointer;
}

.unit-btn:enabled:hover {
	background-color: #F8931E;
}

.unit-btn:disabled {
	background-color: #dbc0d3;
	opacity: .5;
	cursor: auto;
}

.current-temp h1 {
	color: #5c868d;
	font-size: 100px;
	line-height: 100px;
	letter-spacing: 2px;
	text-shadow: 2px 2px 3px rgba(92,134,141,0.5);
}

.current-temp p {
	display: inline;
	color: #5c868d;
	font-size: 30px;
}

.temp p:nth-of-type(1):after {
	content: ' | ';
}

.weather-condition {
	width: 100%;
	padding: 20px;
	color: #5c868d;
	background-color: rgba(153,191,170, 0.4);
	border-radius: 5px;
	margin-bottom: 10px;
}

.weather-condition h3 {
	border-bottom: 1px solid #efe9bf;
	margin-bottom: 15px;
}

.current-condition {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.weather-condition-icon {
	color: #f2fdff;
	font-size: 80px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	margin: 10px auto;
}

.weather-condition h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: capitalize;
	padding: 5px;
	margin: 10px auto;
}

.weather-results {
	margin-bottom: 10px;
}

.details-container {
	color: #091f42;
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 20px;
	letter-spacing: 1px;
	background-color: rgba(153,191,170, 0.4);
	border-radius: 5px;
}

.weather-details ul {
	border-top: 1px solid #efe9bf;
	padding: 5px 0;
}

.weather-details li {	
	display: flex;
	justify-content: space-between;
	padding: 4px 0;
	margin-bottom: 5px;
}

.weather-details p {
	color: #132e33;
	font-weight: bold;
	font-size: 17px;
}

.weather-details span {
	display: block;
	color: #456166;
	font-weight: 600;
}

.sunrise-sunset {
	padding: 10px 10px 5px 10px;
	border-top: 1px solid #efe9bf;
}

.sunrise-sunset h4 {
	font-size: 18px;
	margin-bottom: 8px;
}

.sunrise-sunset ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sunrise-sunset li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sunrise-sunset p {
	font-weight: 600;
	color: #456166;
}

.icon-sun {
	font-size: 80px;
}

.icon-sunrise {
	color: #ff9d00;
	text-shadow: 1px 1px 3px rgba(69,97,102,0.5);
}

.icon-sunset {
	color: #d36e93;
	text-shadow: 1px 1px 3px rgba(69,97,102,0.5);
}

.forecast-results {
	color: #456166;
	letter-spacing: 1px;
	padding: 20px 20px 10px 20px;
	margin-bottom: 10px;
	background-color: rgba(153,191,170, 0.5);
	border-radius: 5px;
}

.forecast-results ul {
	display: grid;
	align-items: center;
	grid-template-columns: 5fr 1fr 1fr;
	padding: 10px 0;
	border-top: 1px solid #efe9bf;
}

.forecast-results li:first-child {
	color: #132e33;
}

.forecast-results li {
	font-size: 18px;
	font-weight: 600;
}

.forecast-temp {
	text-align: right;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forecast-icon {
	font-size: 40px;
	color: #f2fdff;
	text-shadow: 1px 1px 3px rgba(69,97,102,0.5);
}

#preMap {
	padding: 20px;
	background-color: rgba(153,191,170, 0.5);
	border-radius: 5px;
}

#preMap h3 {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #efe9bf;
	margin-bottom: 15px;
}

.icon-expand {
	color: #f2fdff;
	cursor: pointer;
}

#preMap.expand {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #C8D0AB;
	z-index: 60;
}

#map.expand {
	width: 100%;
	height: 90%;
}

body.expand {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#map {
	height: 300px;
	width: 100%;
	z-index: 1;
	border: 1px solid #efe9bf;
}

body.night {
	background-image: url(./images/bg-n.svg);
}
body.night header {
	background-color: #22355e;
}
body.night .location-input {
	color: #cddef7;
	background-color: #603962;
	border: none;
	border-radius: 3px;
}
body.night input[type="text"]::placeholder {
	color: #edbbcc;
}
body.night .form-container button {
	color: #f26636;
	background-color: #22355e;
}
body.night .add-icon {
	color: #8eb1e5;
	background-color: transparent;
}
body.night .sidebar {
	background-color: #22355e; 
}
body.night .sidebar h3 {
	border-bottom: 2px solid rgba(108,77,111,.5);
	color: #8eb1e5;
}
body.night .list-item {
	color: #8eb1e5;
	border-bottom: 1px solid rgba(108,77,111,.5);
}
body.night .list-item:hover {
	background-color: rgba(108,77,111,0.8);
}
body.night .list-item button {
	color: #ce8ab9;
}
body.night .icon-marker {
	color: #ce8ab9;
	font-size: 20px;
	padding-right: 10px;
	text-shadow: 1px 2px 4px #365496;
}
body.night .active-marker {
	color: #F36635;
}
body.night .sidebar-btn {
	position: absolute;
	top: 5px;
	right: -40px;
	width: 40px;
	height: 40px;
	padding: 0 5px;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	z-index: 10;
}
body.night .sidebar-btn span {
	display: block;
	width: 35px;
	height: 3px;
	background-color: #8eb1e5;
	position: absolute;
	top: 15px;
	transition: .3s;
}
body.night .sidebar-btn span:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #8eb1e5;
	transition: .3s;
}
body.night .sidebar-btn span:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #8eb1e5;
	transition: .3s;
}
body.night .close-btn {
	color: #8eb1e5;
}
body.night .close-btn:hover {
	color: #F36635;
}
body.night .sidebar-btn.toggle span {
	background: transparent;
}
body.night .message.show {
	background-color: rgba(75,70,106,0.7);
}
body.night .message-box {
	background-color: #f9fdff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(116,194,247,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(116,194,247,1);
	box-shadow: 0px 0px 10px 0px rgba(116,194,247,1);
}
body.night .message-box p {
	color: #267ba5;
}
body.night .message-box span {
	color: #267ba5;
}
body.night main h3 {
	color: #a2d1f2;
}
body.night main h4 {
	color: #a2d1f2;
}
body.night main h2 {
	color: #74c2f7;
}
body.night .city-name {
	color: #f26636;
}
body.night .date {
	color: #edbbcc;
}
body.night .icon-thermometer {
	color: #d36e93;
}
body.night .icon-thermometer:hover {
	color: #F36635;
}
body.night .unit-btn {
	color: #7f2863;
	background-color: #e2b1d3;
	box-shadow: 2px 2px 3px rgba(42,94,128,0.5);
}
body.night .unit-btn:enabled:hover {
	background-color: #F36635;
}
body.night .current-temp h1 {
	color: #74c2f7;
	text-shadow: 2px 2px 3px rgba(108,77,111,0.5);
}
body.night .current-temp p {
	color: #cddef7;
}
body.night .weather-condition {
	color: #5c868d;
	background-color: rgba(22,118,163,0.3);
}
body.night .weather-condition h3 {
	border-bottom-color: #5e99c1;
}
body.night .details-container {
	color: #091f42;
	background-color: rgba(22,118,163,0.3);
}
body.night .weather-condition-icon {
	color: #efdaae;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
body.night .weather-details ul {
	border-top: 1px solid #5e99c1;
}
body.night .weather-details p {
	color: #ffd6ea;
}
body.night .weather-details span {
	color: #efdaae;
}
body.night .sunrise-sunset {
	border-top: 1px solid #5e99c1;
}
body.night .sunrise-sunset p {
	color: #efdaae;
}
body.night .icon-sunrise {
	color: #ffbf59;
	text-shadow: 1px 1px 3px rgba(69,97,102,0.5);
}
body.night .icon-sunset {
	color: #d36e93;
	text-shadow: 1px 1px 3px rgba(69,97,102,0.5);
}
body.night .forecast-results {
	color: #ffd6ea;
	background-color: rgba(22,118,163,0.3);
}
body.night .forecast-results ul {
	border-top: 1px solid #5e99c1;
}
body.night .forecast-results li:first-child {
	color: #ffd6ea;
}
body.night .forecast-icon {
	color: #efdaae;
	text-shadow: 1px 1px 3px rgba(69,97,102,0.5);
}
body.night #preMap {
	background-color: rgba(22,118,163,0.3);
}
body.night #preMap h3 {
	border-bottom: 1px solid #5e99c1;
}
body.night .icon-expand {
	color: #efdaae;
}
body.night #preMap.expand {	
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 60;
	background-color: #46768C;
}
body.night #map {
	height: 300px;
	width: 100%;
	z-index: 1;
	border: 1px solid #8eb1e5;
}
body.night #map.expand {
	width: 100%;
	height: 90%;
}

@media only screen and (min-width: 640px) {
	.location-input	{
		width: 70%;
		margin-right: 20%;
	}
	.sidebar {
		width: 60%;
	}
	.page-wrap {
		padding: 20px;
	}
	.message {
		margin: 0 auto;
	}
	.message-box {
		width: 60%;
		left: 20%;
		right: 20%;
	}
}

@media only screen and (min-width: 768px) {
	.splash h1 {
		font-size: 37px;
	}
	.splash h1 span {
		font-size: 44px;
	}
	.splash h1 span:nth-child(2) {
		font-size: 50px;
	}
	.location-input	{
		width: 50%;
		margin-right: 27%;
	}
	.main-wrap.resize {
		margin-left: 50%;
	}
	.page-wrap.resize {
		padding: 10px;
	}
	.col-2.resize {
		display: block;
	}
	.details-container.resize {
		margin-bottom: 10px;
	}
	.current-condition h2.resize {
		font-size: 20px;
	}
	.sidebar {
		width: 50%;
	}
	.page-wrap {
		padding: 20px;
	}	
	.wrap-one {
		height: 96vh;
	}
	.weather-condition-icon {
		font-size: 100px;
	}
	.weather-condition h2 {
		font-size: 38px;
	}
	.current-condition {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.city-name {
		font-size: 20px;
	}
	.date p:first-child {
		font-size: 100px;
		line-height: 100px;
	}
	.date p:nth-child(2) {
		font-size: 21px;
	}
	.current-temp h1 {
		font-size: 150px;
		line-height: 150px;
	}
	.current-temp p {
		font-size: 50px;
	}
	.col-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
		margin-bottom: 10px;
	}
	.weather-results {
		margin-bottom: 0;
	}
	.forecast-results {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 1024px) {
	.splash h1 {
		font-size: 40px;
	}
	.splash h1 span {
		font-size: 49px;
	}
	.splash h1 span:nth-child(2) {
		font-size: 53px;
	}
	.location-input	{
		width: 40%;
		margin-right: 31%;
	}
	.main-wrap.resize {
		margin-left: 40%;
	}
	.sidebar {
		width: 40%;
	}
	.page-wrap {
		padding: 20px 5% 10px 5%;
	}
	.wrap-one {
		height: 96vh;
	}
	.message {
		margin: 0 auto;
	}
	.message-box {
		width: 40%;
		left: 30%;
		right: 30%;
	}
}

@media only screen and (min-width: 1440px) {
	.main-wrap.resize {
		margin-left: 35%;
	}
	.col-2.resize {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
		margin-bottom: 10px;
	}
	.details-container.resize {
		margin-bottom: 0;
	}
	.page-wrap.resize {
		padding: 20px 5% 10px 5%;
	}
	.sidebar {
		width: 30%;
	}
	.page-wrap {
		padding: 20px 20% 20px 20%;
	}
	.wrap-one {
		height: 96vh;
	}
}

@media only screen and (min-width: 2560px) {
	.sidebar {
		width: 20%;
	}
	.page-wrap {
		padding: 20px 30% 20px 30%;
	}
}